/*!
 * Author: Xuan Do
 *
 */

@import url('https://fonts.googleapis.com/css?family=BioRhyme+Expanded|Gugi|ZCOOL+KuaiLe');

/* Timeline levels */
#level-timeline {
    max-width: 760px;
    margin: auto;
    margin-right: 2em;
    margin-left: 2em;
}

#level-timeline p {
    position: relative;
    border-top: 2px dashed;
    border-color: goldenrod !important;
    margin: 0;
    padding: 30px;
    counter-increment: section;
}

#level-timeline p:nth-child(1) { font-family: 'ZCOOL KuaiLe', cursive; }
#level-timeline p:nth-child(2) { font-family: 'BioRhyme Expanded', serif; }
#level-timeline p:nth-child(3) { font-family: 'Gugi', cursive; }

.tooltip-rock { color: #1B2124; font-weight: bold; }
.tooltip-fire { color: #74191E; font-weight: bold; }
.tooltip-snow { color: #152731; font-weight: bold; }



/* Add borders */
#level-timeline p:nth-child(odd) {
    border-right: 2px dashed;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    margin-left: 30px;
    padding-left: 0;
}

#level-timeline p:nth-child(even) {
    border-left: 2px dashed;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    margin-right: 30px;
    padding-right: 0;
}

#level-timeline p:first-child {
    border-top: 0;
    border-top-right-radius:0;
    border-top-left-radius:0;
}

#level-timeline p:last-child {
    border-bottom-right-radius:0;
    border-bottom-left-radius:0;
}





/* Create numbers */
#level-timeline p:before {
    border-radius: 50%;
    background-color: goldenrod;
    text-align:center;
    color: white;
    padding-top: 6px;
    padding-left: 2px;
    font-size: 1em;
    font-weight: bold;
    height: 40px;
    width: 40px;
    content: counter(section);
}

#level-timeline p:nth-child(1):before { background-color: #1B2124; }
#level-timeline p:nth-child(2):before { background-color: #74191E; }
#level-timeline p:nth-child(3):before { background-color: #152731; }

/* Add numbers on the right */
#level-timeline p:nth-child(odd):before {
    position: absolute;
    left: 100%;
    margin-left: -20px;
}

/* Add numbers on the left */
#level-timeline p:nth-child(even):before {
    position: absolute;
    right: 100%;
    margin-right: -20px;
}
